:root {
    --mainColor: #56E39F;
    --secondaryColor: #465775;
    --darkMainColor: #59C9A5;
    --lightMainColor: #B8E3BD;
    --borderColor: #CCCCCC;
    --white: #FAFAFA;
    --black: #252525;
    --salmonColor: #EF6F6C;
}